{% extends 'album/base.html' %}
{% load static %}
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} pictures under {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search item {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  {% for img in images %}
  <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text"><img src="{{img.image.url}}"  style="width: 400px; height:300px;margin-bottom: 25px;" class="img-responsive" alt="Image"></div>
  
  {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}